
<div class="container">
  <div class="section_1" id="skupstina">
    <h1 class="section_1_header">Šta je Skupština građana?</h1>
    <%= image_tag "Letvica.png", :class => "letvica" %>
    <p class="section_1_para">Skupština građana je novi oblik demokratije koji olakšava donošenje odluka na
bilo kojem nivou vlasti, bilo grada, zemlje ili na međunarodnom nivou, kao što je to
slučaj s Evropskom unijom. Skupštine građana održavaju se u mnogim zemljama
širom svijeta, a okupljaju grupe građana nasumično odabranih uzimajući u obzir
demografske kriterije kao što su spol, dob i dr. Ovakva grupa predstavlja grad ili
državu u malom. Skupštine građana su oblik deliberativne demokratije, odnosno,
demokratije u kojoj diskusije i razmatranja u okviru grupe nasumično odabranih
osoba predstavljaju ključnu komponentu procesa donošenja odluka.
Uloga Skupštine građana jeste temeljita analiza zadane teme, održavanje rasprava
o raznim rješenjima, analiza pozitivnih i negativnih strana, a zatim i donošenje
konačnih preporuka ili odluka. Stručnjaci u datoj oblasti obično detaljnije upoznaju
učesnike s temom.</p>
  </div>
</div>

<div class="rectangle">
  <span class="rectangle_blue"></span>
</div>

<div class="container">
  <div class="section_1"  id="svrha">
    <h1 class="section_1_header">Koja je svrha organizacije Skupštine građana?</h1>
    <%= image_tag "Letvica.png", :class => "letvica" %>
    <p class="section_1_para">Skupštine građana osiguravaju visokokvalitetne i detaljno razmatrane odluke koje
mogu pomoći u rješavanju političkog zastoja po spornim pitanjima. Uz korištenje
metode slučajnog odabira i niza demografskih kriterija za sastav takve jedne
grupe, može se pretpostaviti da konačna preporuka uzima u obzir opće dobro svih
zajednica u BiH, što predstavlja dobru osnovu za donošenje odluka po pitanjima
vezanim za politike na nivou zemlje.</p>
  </div>
  <div class="section_1" id="clan">
    <h1 class="section_1_header" >Ko može postati član Skupštine?</h1>
    <%= image_tag "Letvica.png", :class => "letvica" %>
    <p class="section_1_para">U slučaju Skupštine građana BiH 2021. godine, član može postati svaki državljanin
BiH sa prebivalištem u zemlji i navršenih 18 godina. Kao prvi korak, dostavljaju se
pozivna pisma za 4000 nasumično odabranih domaćinstva u svim
općinama/opštinama u BiH. Među onima koji su se prijavili za učešće dalje se
nasumično bira konačna grupa od ukupno 57 članova Skupštine. Slučajan odabir
provodi se uz pomoć kompjuterskog softvera, što članovima Skupštine omogućava
da u donošenju odluka budu nezavisni od političkih ili drugih interesa.</p>
  </div>

  <div class="section_1_brojevi d-flex row" style="padding-top: 50px;">
    <div class="section_broj col-lg-4 col-md-4 col-sm-12 justify-content-center">
        <h1 class="broj">18+</h1>
        <p class="broj_text">punoljetni državljani</p>
    </div>
    <div class="section_broj col-lg-4 col-md-4 col-sm-12 justify-content-center">
        <h1 class="broj">4000</h1>
        <p class="broj_text">nasumično odabranih domaćinstava</p>
    </div>
    <div class="section_broj col-lg-4 col-md-4 col-sm-12 justify-content-center">
        <h1 class="broj">57</h1>
        <p class="broj_text">članova Skupštine</p>
    </div>
  </div>

  <div class="section_1" id="rasprave" >
    <h1 class="section_1_header">Skupština građana i javne rasprave?</h1>
    <%= image_tag "Letvica.png", :class => "letvica" %>
    <p class="section_1_para">Sastav Skupštine građana odražava demografske kriterije zemlje i reprezentativniji
je od redovnih otvorenih javnih rasprava. Sastanci Skupštine započinju fazom
učenja i tek onda prelaze na razmatranje. Ima dovoljno vremena da se tema
detaljno razmotri, tako da Skupština građana može postići kvalitetne ishode
kojima se može vjerovati. Skupštine građana su po definiciji dugoročni procesi i
višednevni sastanci u vremenskom rasponu od nekoliko sedmica. Na primjer, to
mogu biti dva ili tri vikenda zaredom.</p>
  </div>
  <div class="section_1" id="reprez">
    <h1 class="section_1_header" >Ko upravlja radom Skupštine građana?</h1>
    <%= image_tag "Letvica.png", :class => "letvica" %>
    <p class="section_1_para">U slučaju Skupštine građana BiH u 2021. godini, postupak pokreće Ured
specijalnog predstavnika Evropske unije u Bosni i Hercegovini u konsultaciji sa
drugim partnerima koji potpomažu postojeći proces ustavnih i izbornih reformi.
Proces je osmislio i njime upravlja Koordinacijski tim, nezavisan od vlasti.
Cilj je uvesti proces u kojem građani mogu direktno govoriti o pitanjima koja
oblikuju budućnost zemlje i na taj način dopuniti proces donošenja odluka po
teškim političkim pitanjima.</p>
  </div>
</div>

<div class="rectangle">
  <span class="rectangle_purple"></span>
</div>

<div class="container">
   <div class="section_1" id="poruka">
    <h1 class="section_1_header">Upotreba preporuka Skupštine građana?</h1>
    <%= image_tag "Letvica.png", :class => "letvica" %>
    <p class="section_1_para">Ured specijalnog predstavnika Evropske unije u Bosni i Hercegovini pozvao je
vlasti u BiH da prate proces i uvaže zaključke proistekle iz njega. Nadalje, Ured
specijalnog predstavnika EU proslijediće zaključke Skupštine građana vlastima u
BiH kako bi ih mogle uzeti u obzir prilikom donošenja odluka. Isto tako, preporuke
se javno objavljuju. Zajedno sa svojim partnerima, Evropska unija će snažno
potaknuti vlasti da raspravljaju i odgovore na preporuke koje su im predstavljene.
Skupština građana ne zamjenjuje Parlamentarnu skupštinu Bosne i Hercegovine
koja obavezno raspravlja i glasa po svim pitanjima vezanim za ustavne i izborne
promjene.</p>
  </div>
  <div class="section_1" id="angazman">
    <h1 class="section_1_header">Jesu li političari članovi Skupštine?</h1>
    <%= image_tag "Letvica.png", :class => "letvica" %>
    <p class="section_1_para">S obzirom na osjetljivost teme za diskusiju, izabrani nosioci političkih funkcija i
politički imenovani dužnosnici na bilo kojem nivou vlasti u BiH ne mogu postati
članovi Skupštine. Predstavnici Međuresorne radne grupe za izmjene i dopune
Izbornog zakona pozvani su da prisustvuju određenim zasjedanjima Skupštine
građana u svojstvu posmatrača na određena.</p>
  </div>

</div>

